<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container-fluid">

    <a class="navbar-brand" routerLink="/credits">
      CreditBank
    </a>

    <div class="navbar-nav me-auto">

      <a class="nav-link" routerLink="/credits">Crédits</a>
      <a class="nav-link" routerLink="/add-personnel">Personnel</a>
      <a class="nav-link" routerLink="/add-immobilier">Immobilier</a>
      <a class="nav-link" routerLink="/add-professionnel">Professionnel</a>

    </div>

    <div class="d-flex">

      <button *ngIf="auth.isLoggedIn()"
              class="btn btn-danger btn-sm"
              (click)="logout()">
        Logout
      </button>

      <a *ngIf="!auth.isLoggedIn()"
         routerLink="/"
         class="btn btn-success btn-sm">
        Login
      </a>

    </div>

  </div>

</nav>