<div class="container mt-4">

  <h2>Gestion des Crédits</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Montant</th>
        <th>Durée</th>
        <th>Statut</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let c of credits">
        <td>{{ c.id }}</td>
        <td>{{ c.montant }}</td>
        <td>{{ c.dureeRemboursement }}</td>
        <td>
          <span class="badge" [ngClass]="badge(c.statut)">
            {{ c.statut }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <hr>

  <h4>Crédit Personnel</h4>
  <input class="form-control mb-2" placeholder="montant" [(ngModel)]="personnel.montant">
  <input class="form-control mb-2" placeholder="motif" [(ngModel)]="personnel.motif">
  <button class="btn btn-primary" (click)="addPersonnel()">Ajouter</button>

  <hr>

  <h4>Crédit Immobilier</h4>
  <input class="form-control mb-2" placeholder="montant" [(ngModel)]="immobilier.montant">
  <input class="form-control mb-2" placeholder="type bien" [(ngModel)]="immobilier.typeBien">
  <button class="btn btn-success" (click)="addImmobilier()">Ajouter</button>

  <hr>

  <h4>Crédit Professionnel</h4>
  <input class="form-control mb-2" placeholder="montant" [(ngModel)]="professionnel.montant">
  <input class="form-control mb-2" placeholder="motif" [(ngModel)]="professionnel.motif">
  <input class="form-control mb-2" placeholder="raison sociale" [(ngModel)]="professionnel.raisonSociale">
  <button class="btn btn-warning" (click)="addProfessionnel()">Ajouter</button>

</div>